In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv("data_updated_1.csv",low_memory=False)

In [3]:
df.head()

,loan_amnt,term,int_rate,installment,emp_length,annual_inc,loan_status,pub_rec,revol_util,total_acc,total_pymnt,total_rec_late_fee,pub_rec_bankruptcies,last_pymnt_month,last_pymnt_year,issue_year,issue_month
0,5000,36,10.65,162.87,10+ years,24000.0,Fully Paid,0.0,83.7%,9.0,5863.155187,0.00,0.0,1.0,2015.0,2011,12
1,2500,60,15.27,59.83,< 1 year,30000.0,Charged Off,0.0,9.4%,4.0,1008.710000,0.00,0.0,4.0,2013.0,2011,12
2,2400,36,15.96,84.33,10+ years,12252.0,Fully Paid,0.0,98.5%,10.0,3005.666844,0.00,0.0,6.0,2014.0,2011,12
3,10000,36,13.49,339.31,10+ years,49200.0,Fully Paid,0.0,21%,37.0,12231.890000,16.97,0.0,1.0,2015.0,2011,12
4,3000,60,12.69,67.79,1 year,80000.0,Current,0.0,53.9%,38.0,3784.490000,0.00,0.0,9.0,2016.0,2011,12

In [4]:
df["loan_status"].value_counts()

Fully Paid                                             33586
Charged Off                                             5653
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                  513
In Grace Period                                           16
Late (31-120 days)                                        12
Late (16-30 days)                                          5
Default                                                    1
Name: loan_status, dtype: int64

fully paid ,current,grace period,16 - 30 days late chalega
else nahi chalega

In [5]:
df_copy = df.copy()

In [6]:
le = LabelEncoder()

In [7]:
df_copy["emp_length_en"] = le.fit_transform(df_copy["emp_length"])

In [8]:
df_copy.head()

,loan_amnt,term,int_rate,installment,emp_length,annual_inc,loan_status,pub_rec,revol_util,total_acc,total_pymnt,total_rec_late_fee,pub_rec_bankruptcies,last_pymnt_month,last_pymnt_year,issue_year,issue_month,emp_length_en
0,5000,36,10.65,162.87,10+ years,24000.0,Fully Paid,0.0,83.7%,9.0,5863.155187,0.00,0.0,1.0,2015.0,2011,12,1
1,2500,60,15.27,59.83,< 1 year,30000.0,Charged Off,0.0,9.4%,4.0,1008.710000,0.00,0.0,4.0,2013.0,2011,12,10
2,2400,36,15.96,84.33,10+ years,12252.0,Fully Paid,0.0,98.5%,10.0,3005.666844,0.00,0.0,6.0,2014.0,2011,12,1
3,10000,36,13.49,339.31,10+ years,49200.0,Fully Paid,0.0,21%,37.0,12231.890000,16.97,0.0,1.0,2015.0,2011,12,1
4,3000,60,12.69,67.79,1 year,80000.0,Current,0.0,53.9%,38.0,3784.490000,0.00,0.0,9.0,2016.0,2011,12,0

In [9]:
df_copy["emp_length_en"].value_counts()

1     9369
10    5062
2     4743
3     4364
4     3649
0     3595
5     3458
6     2375
7     1875
8     1592
9     1341
11    1112
Name: emp_length_en, dtype: int64

In [10]:
df_copy[df_copy["loan_status"] == "Default"]

,loan_amnt,term,int_rate,installment,emp_length,annual_inc,loan_status,pub_rec,revol_util,total_acc,total_pymnt,total_rec_late_fee,pub_rec_bankruptcies,last_pymnt_month,last_pymnt_year,issue_year,issue_month,emp_length_en
20645,16000,60,16.4,392.5,1 year,70000.0,Default,1.0,40.1%,18.0,23126.44,0.0,1.0,1.0,2016.0,2011,2,0

In [11]:
df_copy = df_copy.drop(20645)

In [12]:
df_copy['loan_status'].value_counts()

Fully Paid                                             33586
Charged Off                                             5653
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                  513
In Grace Period                                           16
Late (31-120 days)                                        12
Late (16-30 days)                                          5
Name: loan_status, dtype: int64

In [13]:
df_copy["loan_status_en"] = le.fit_transform(df_copy["loan_status"])

In [14]:
df_copy["loan_status_en"].value_counts()

4    33586
0     5653
3     1988
2      761
1      513
5       16
7       12
6        5
Name: loan_status_en, dtype: int64

In [15]:
df_copy[["loan_status_en","loan_status"]].head()

   loan_status_en  loan_status
0               4   Fully Paid
1               0  Charged Off
2               4   Fully Paid
3               4   Fully Paid
4               1      Current

In [16]:
df_copy.shape

(42534, 19)

In [17]:
df_copy.head()

,loan_amnt,term,int_rate,installment,emp_length,annual_inc,loan_status,pub_rec,revol_util,total_acc,total_pymnt,total_rec_late_fee,pub_rec_bankruptcies,last_pymnt_month,last_pymnt_year,issue_year,issue_month,emp_length_en,loan_status_en
0,5000,36,10.65,162.87,10+ years,24000.0,Fully Paid,0.0,83.7%,9.0,5863.155187,0.00,0.0,1.0,2015.0,2011,12,1,4
1,2500,60,15.27,59.83,< 1 year,30000.0,Charged Off,0.0,9.4%,4.0,1008.710000,0.00,0.0,4.0,2013.0,2011,12,10,0
2,2400,36,15.96,84.33,10+ years,12252.0,Fully Paid,0.0,98.5%,10.0,3005.666844,0.00,0.0,6.0,2014.0,2011,12,1,4
3,10000,36,13.49,339.31,10+ years,49200.0,Fully Paid,0.0,21%,37.0,12231.890000,16.97,0.0,1.0,2015.0,2011,12,1,4
4,3000,60,12.69,67.79,1 year,80000.0,Current,0.0,53.9%,38.0,3784.490000,0.00,0.0,9.0,2016.0,2011,12,0,1

In [18]:
for col in df_copy.columns:
    print(col,df_copy[col].isnull().sum())

loan_amnt 0
term 0
int_rate 0
installment 0
emp_length 1112
annual_inc 4
loan_status 0
pub_rec 29
revol_util 90
total_acc 29
total_pymnt 0
total_rec_late_fee 0
pub_rec_bankruptcies 1365
last_pymnt_month 83
last_pymnt_year 83
issue_year 0
issue_month 0
emp_length_en 0
loan_status_en 0

In [19]:
df_copy = df_copy[df_copy['emp_length'].notna()]

In [20]:
df_copy = df_copy[df_copy['annual_inc'].notna()]

In [21]:
df_copy["annual_inc"].isnull().sum()

0

In [22]:
df_copy = df_copy[df_copy['last_pymnt_year'].notna()]

In [23]:
def update_revol_unit(value):
    return eval(value.replace("%","").replace(" ",""))

In [24]:
df_revol_util = df_copy["revol_util"].copy()
df_revol_util = df_revol_util.fillna("0")
new_revol_util = map(update_revol_unit,df_revol_util)
new_revol_util = list(new_revol_util)
df_copy["revol_util"] = pd.Series(new_revol_util)
df_copy["revol_util"].head()

0    83.7
1     9.4
2    98.5
3    21.0
4    53.9
Name: revol_util, dtype: float64

In [25]:
df_copy["revol_util"].isnull().sum()

1189

In [26]:
def replace_na(col_name,value=0):
    df_copy[col_name] = df_copy[col_name].fillna(0)

In [27]:
replace_na(col_name = "pub_rec")
replace_na(col_name = "revol_util")
replace_na(col_name = "total_acc")
replace_na(col_name = "pub_rec_bankruptcies")

In [28]:
for col in df_copy.columns:
    print(col,df_copy[col].isnull().sum())

loan_amnt 0
term 0
int_rate 0
installment 0
emp_length 0
annual_inc 0
loan_status 0
pub_rec 0
revol_util 0
total_acc 0
total_pymnt 0
total_rec_late_fee 0
pub_rec_bankruptcies 0
last_pymnt_month 0
last_pymnt_year 0
issue_year 0
issue_month 0
emp_length_en 0
loan_status_en 0

In [29]:
df_copy["revol_util"]

0        83.7
1         9.4
2        98.5
3        21.0
4        53.9
         ...
42529     0.0
42530     0.0
42531     0.0
42532     0.0
42534     0.0
Name: revol_util, Length: 41340, dtype: float64

In [30]:
df_copy.shape

(41340, 19)

In [31]:
df_copy = df_copy.drop(labels="emp_length",axis=1)

In [32]:
df_copy = df_copy.drop(labels="loan_status",axis=1)

Train test splitting

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=100)

In [45]:
print("x : ",x_train.shape,x_test.shape)
print("y : ",y_train.shape,y_test.shape)

x :  (28938, 16) (12402, 16)
y :  (28938,) (12402,)